<p class="meta">
  <% if is_admin_view? %>
    <em>From:</em> <strong><%= r.requestor %></strong>
  <% elsif r.is_requestor_name_visible %>
    <em>From:</em> <strong><%= r.requestor.name %></strong>
  <% end %>
  <em>Date:</em> <strong><%= r.date_received_or_created.strftime("%d/%m/%Y") %></strong>
</p>

<%= simple_format r.body %>
