.request-new{
    
    @extend .grid-8-of-12;
     padding-left: 2.5em;
    
    &.request{
        margin-top: 0;
    }
    
    p{
        @extend .grid-6-of-12;
        @extend .cf;
        padding-bottom: 2em;
        clear: left;
    }

    fieldset{
        width: 420px;
        border: none;
        margin: 0;
        padding: 0;
    }
    
    label{
        display: block;
        margin-top: 8px;
    }
    
    input, textarea{
        width:100%;
        padding: $gutter/2;
        border: 1px solid #bababa;
        clear: left;
    }
    
    input[type="checkbox"]{
        width: 24px;
    }
    
    textarea{
        min-height: 20em;
    }
    
    .form-help{
        display: block;
        color: #808080;
        clear: left;
    }
    
    .btn{
        @extend .grid-4-of-12;
        padding: $gutter;
        padding-bottom: $gutter*2;
        color: #fff;
        font-weight: bold;
        border: none;
        background-color: $color-blue;
        background-position: right bottom;
        background-repeat: no-repeat;
        @include background-image-at2x("nav-blue-slim.png", "nav-blue-slim@2x.png", 100%, auto);
        
        &:hover{
            background-color: darken($color-blue, 10%);
        }
    }
    
    .tips{
        @extend .grid-2-of-12;
        float: right;
        color: #808080;
        
        ul{
            @extend .reset-list;
            font-size: 0.75em;
            li{
                display: block;
                margin-bottom: 1em;
            }
        }
    }
}
