/*
 * CSS manifest for the back-end app.
 *
 *= require jquery-ui
 *= require bootstrap
 *= require scaffolds
 *= require admin-bhfoi
 *= require_self
*/

body { width: 950px; margin: auto; }

.navbar-search .search-query { height: 25px; }

.request-view, .response-view { font-size: 18px; }

#requestor_notes { width: 640px; }

.correspondence-body, .private {
 margin-top: 15px;
}

#admin-request-list .state-editor form,
#admin-request-list .state-editor form select {
  width: 65px;
}

.public-response textarea, .private-response textarea {
 width: 100%;
}

.page-header { width: 100%; }
table { clear: left; }

.edit_request #reason_for_unpublishing_section {
  clear: both;
  padding: 6px 12px;
  background: #ccc;
}
.edit_request #reason_for_unpublishing_section p {
  float: none;
}

.field {
  clear: both;
}

/* override input height: 18px in bootstrap */
.admin-page select,
.admin-page textarea,
.admin-page input[type="text"],
.admin-page input[type="password"],
.admin-page input[type="datetime"],
.admin-page input[type="datetime-local"],
.admin-page input[type="date"],
.admin-page input[type="month"],
.admin-page input[type="time"],
.admin-page input[type="week"],
.admin-page input[type="number"],
.admin-page input[type="email"],
.admin-page input[type="url"],
.admin-page input[type="search"],
.admin-page input[type="tel"],
.admin-page input[type="color"],
.admin-page .uneditable-input {
  height: auto;
}