/*
 * CSS manifest for the back-end app.
 *
 *= require jquery-ui
 *= require bootstrap
 *= require scaffolds
 *= require_self
*/

body { width: 950px; margin: auto; }

.navbar-search .search-query { height: 25px; }

.request-view { font-size: 18px; }

#requestor_notes { width: 640px; }

.correspondence-body, .private {
 margin-top: 15px;
}

#admin-request-list .state-editor form,
#admin-request-list .state-editor form select {
  width: 65px;
}

.public-response textarea, .private-response textarea {
 width: 100%;
}

.page-header { width: 100%; }
table { clear: left; }
