
	<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
	<html lang="en-GB">
		
<head>
<title><%= @title %> &ndash; Brighton &amp; Hove City Council</title>
	<!-- Brighton &amp; Hove City Council - corporate website -->
	<!-- Version 5, December 2010 -->
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="keywords" content="fraud">
	<meta name="p2b" content="Your council|FOI|">
	<meta name="robots" content="NOODP">
	<meta name="description" content="Delivering 24 hour council services to residents, visitors and businesses in Brighton &amp; Hove">
	<!-- Google Webmaster Tools Verification -->
	<link rel="stylesheet" href="http://www.brighton-hove.gov.uk/web/sites/bhcc/css/main11.css" type="text/css">
	<link rel="stylesheet" href="http://www.brighton-hove.gov.uk/web/sites/bhcc/css/topNav11.css" type="text/css">
	<link rel="stylesheet" href="http://www.brighton-hove.gov.uk/web/sites/bhcc/css/azComp11.css" type="text/css">
	<link rel="stylesheet" href="http://www.brighton-hove.gov.uk/web/sites/bhcc/css/rtColdoStuff11.css" type="text/css">

	<link rel="stylesheet" href="http://www.brighton-hove.gov.uk/web/sites/bhcc/css/pageElementStyle11.css" type="text/css">
	<link rel="stylesheet" href="http://www.brighton-hove.gov.uk/web/sites/bhcc/css/print11.css" type="text/css" media="print">
	<link rel="stylesheet" href="http://www.brighton-hove.gov.uk/web/sites/bhcc/css/s211.css" type="text/css">	

	<!--[if lte IE 6]><link rel="stylesheet" href="http://www.brighton-hove.gov.uk/web/sites/bhcc/css/ie611.css" type="text/css" /><![endif]-->
	<!--[if IE 7]><link rel="stylesheet" href="http://www.brighton-hove.gov.uk/web/sites/bhcc/css/ie711.css" type="text/css" /><![endif]-->
	<!--[if gte IE 8]><link rel="stylesheet" href="http://www.brighton-hove.gov.uk/web/sites/bhcc/css/ie811.css" type="text/css" /><![endif]-->
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js"></script>
	<script type="text/javascript" src="http://www.brighton-hove.gov.uk/web/sites/bhcc/jscript/jqueryPageFooter.js"></script>

<link rel="shortcut icon" href="http://www.brighton-hove.gov.uk/web/sites/bhcc/images/favicon.ico">
<link rel="apple-touch-icon" href="http://www.brighton-hove.gov.uk/web/sites/bhcc/images/apple-touch-icon.png">
<script type="text/javascript">
  function recordOutboundLink(link, category, action) {
    _gat._getTrackerByName()._trackEvent(category, action);
    setTimeout('document.location = "' + link.href + '"', 100);
  }
</script>
</head>


	<body>
	<div class="mainContent">	
		
<h1>Freedom of Information</h1>
<div class="metaNav"><a href="#pageContent" accesskey="s">skip navigation and tools</a></div>
<h2 class="navigationBlockHeader">navigation and tools</h2>

<DIV id="topNav">
<DIV id="banner-logo">

	<a href="index.cfm" title="return to the home page">
	<img src="http://www.brighton-hove.gov.uk/web/sites/bhcc/images/spacer.gif" width="105" height="71" border="0" alt=""></a>

</DIV>
<DIV id="banner-links">

<a href="http://www.brighton-hove.gov.uk/index.cfm?request=b1148192&amp;textSize=sml"><img src="http://www.brighton-hove.gov.uk/web/sites/bhcc/images/textsize-normal.gif" alt="standard sized text" ></a> 
<a href="http://www.brighton-hove.gov.uk/index.cfm?request=b1148192&amp;textSize=med"><img src="http://www.brighton-hove.gov.uk/web/sites/bhcc/images/textsize-large.gif" alt="large sized text" ></a>
<a href="http://www.brighton-hove.gov.uk/index.cfm?request=b1148192&amp;textSize=lrg"><img src="http://www.brighton-hove.gov.uk/web/sites/bhcc/images/textsize-extralarge.gif" alt="extra-large sized text" ></a>
<a href="http://www.brighton-hove.gov.uk/index.cfm?request=c1194594" accesskey="0"><img src="http://www.brighton-hove.gov.uk/web/sites/bhcc/images/access.gif" alt="access keys"></a>
<br><br>
<!--<a href="http://www.brighton-hove.gov.uk/index.cfm?request=b1148192&amp;layoutAlter=fixed">fixed&nbsp;layout</a> |&nbsp;--><a href="http://www.brighton-hove.gov.uk/index.cfm?request=b1108764" accesskey="5">FAQ</a>&nbsp;|&nbsp;<a href="http://www.brighton-hove.gov.uk/index.cfm?request=b1000122" accesskey="6">Help</a>&nbsp;|&nbsp;<a href="http://www.brighton-hove.gov.uk/index.cfm?request=c1168623">Accessibility</a>&nbsp;|&nbsp;<a href="http://www.brighton-hove.gov.uk/index.cfm?request=b1153064" accesskey="8">Contact&nbsp;us</a><br>
</DIV>


<div class="sectionItems">
	<ul class="topNavMenu">
		<li class="sectionItem1">
			<a href="index.cfm" title="return to the home page" accesskey="1">
				Home<span class="alignmentMarker">&nbsp;</span>
			</a>
		</li>
		<li class="sectionItem2on">
			<a href="http://www.brighton-hove.gov.uk/index.cfm?request=a2" title="councillors and committees, council tax, electoral services, equalities, emergencies, complaints, consultation">
				Your council<span class="alignmentMarker">&nbsp;</span>
			</a>
		</li>
		<li class="sectionItem3">
			<a href="http://www.brighton-hove.gov.uk/index.cfm?request=a3" title="environment, transport, planning, refuse &amp; recycling, conservation">
				Your city<span class="alignmentMarker">&nbsp;</span>
			</a>
		</li>
		<li class="sectionItem4">
			<a href="http://www.brighton-hove.gov.uk/index.cfm?request=a4" title="housing, food safety, noise &amp; pollution, register office, bereavement">
				Life<span class="alignmentMarker">&nbsp;</span>
			</a>
		</li>
		<li class="sectionItem5">
			<a href="http://www.brighton-hove.gov.uk/index.cfm?request=a5" title="parks, libraries, places to visit, seafront, sports &amp; leisure, events">
				Enjoy<span class="alignmentMarker">&nbsp;</span>
			</a>
		</li>
		<li class="sectionItem6">
			<a href="http://www.brighton-hove.gov.uk/index.cfm?request=a6" title="schools, childcare, youth service, adult education, special needs">
				Learn<span class="alignmentMarker">&nbsp;</span>
			</a>
		</li>
		<li class="sectionItem7">
			<a href="http://www.brighton-hove.gov.uk/index.cfm?request=a7" title="jobs, licensing, business, procurement, trading standards, health &amp; safety">
				Work<span class="alignmentMarker">&nbsp;</span>
			</a>
		</li>
		<li class="sectionItem13">
			<a href="http://www.brighton-hove.gov.uk/index.cfm?request=a13" title="press releases, features, e-newsletter, campaigns" accesskey="2">
				News<span class="alignmentMarker">&nbsp;</span>
			</a>
		</li>
		<li class="sectionItem11">
			<a href="http://www.brighton-hove.gov.uk/index.cfm?request=a11" title="online services">
				Do it now<span class="alignmentMarker">&nbsp;</span>
			</a>
		</li>
	</ul>
</div>

</DIV>

	<div id="leftColumn">
		 <div id="leftColumnContainer">
		 
			<h3 class="menuHeader">in 'Your council'</h3>
			<ul class="menu">
				
					<li class="menuItem" 
	                   >
					   <a href="http://www.brighton-hove.gov.uk/index.cfm?request=b1153064">Contact us</a>
					</li>
				
					<li class="menuItem" 
	                   >
					   <a href="http://www.brighton-hove.gov.uk/index.cfm?request=b1000162">About your council</a>
					</li>
				
					<li class="menuItem" 
	                   >
					   <a href="http://www.brighton-hove.gov.uk/index.cfm?request=b1146905">Council priorities</a>
					</li>
				
					<li class="menuItem" 
	                   >
					   <a href="http://www.brighton-hove.gov.uk/index.cfm?request=b1156464">Council &amp; democracy</a>
					</li>
				
					<li class="menuItem" 
	                   >
					   <a href="http://www.brighton-hove.gov.uk/index.cfm?request=b1148192">Anti-fraud</a>
					</li>
				
					<li class="menuItem" 
	                   >
					   <a href="http://www.brighton-hove.gov.uk/index.cfm?request=b1155684">Beacon Council</a>
					</li>
				
					<li class="menuItem" 
	                   >
					   <a href="http://www.brighton-hove.gov.uk/index.cfm?request=b1159864">Bartholomew House 2011</a>
					</li>
				
					<li class="menuItem" 
	                   >
					   <a href="http://www.brighton-hove.gov.uk/index.cfm?request=b1140328">Children's services</a>
					</li>
				
					<li class="menuItem" 
	                   >
					   <a href="http://www.brighton-hove.gov.uk/index.cfm?request=b1000086">Compliment or complain</a>
					</li>
				
					<li class="menuItem" 
	                   >
					   <a href="http://www.brighton-hove.gov.uk/index.cfm?request=b1135902">Consultation</a>
					</li>
				
					<li class="menuItem" 
	                   >
					   <a href="http://www.brighton-hove.gov.uk/index.cfm?request=b1117002">Council finance</a>
					</li>
				
					<li class="menuItem" 
	                   >
					   <a href="http://www.brighton-hove.gov.uk/index.cfm?request=b1160744">Council data</a>
					</li>
				
					<li class="menuItem" 
	                   >
					   <a href="http://www.brighton-hove.gov.uk/index.cfm?request=b1000255">Council tax &amp; business rates</a>
					</li>
				
					<li class="menuItem" 
	                   >
					   <a href="http://www.brighton-hove.gov.uk/index.cfm?request=b1113726">Customer centres</a>
					</li>
				
					<li class="menuItem" 
	                   >
					   <a href="http://www.brighton-hove.gov.uk/index.cfm?request=b1152484">Customer promise</a>
					</li>
				
					<li class="menuItem" 
	                   >
					   <a href="http://www.brighton-hove.gov.uk/index.cfm?request=b1000098">Electoral services</a>
					</li>
				
					<li class="menuItem" 
	                   >
					   <a href="http://www.brighton-hove.gov.uk/index.cfm?request=b1112784">Emergency information</a>
					</li>
				
					<li class="menuItem" 
	                   >
					   <a href="http://www.brighton-hove.gov.uk/index.cfm?request=b1000095">Equality and inclusion</a>
					</li>
				
					<li class="menuItem" 
	                   id="menuSelected">
					   <a href="http://foi.brighton-hove.gov.uk/">Freedom of Information</a>
					</li>
					
					<li class="menuItem" 
	                   >
					   <a href="http://www.brighton-hove.gov.uk/index.cfm?request=b1000147">International</a>
					</li>
				
					<li class="menuItem" 
	                   >
					   <a href="http://www.brighton-hove.gov.uk/index.cfm?request=b1162524">Neighbourhood councils</a>
					</li>
				
					<li class="menuItem" 
	                   >
					   <a href="http://www.brighton-hove.gov.uk/index.cfm?request=b1000302">Performance</a>
					</li>
				
					<li class="menuItem" 
	                   >
					   <a href="http://www.brighton-hove.gov.uk/index.cfm?request=b1161224">Social media sites</a>
					</li>
				
					<li class="menuItem" 
	                   >
					   <a href="http://www.brighton-hove.gov.uk/index.cfm?request=b1155804">Website guidelines</a>
					</li>
				
					<li class="menuItemLast" 
	                   >
					   <a href="http://www.brighton-hove.gov.uk/index.cfm?request=b1155806">Website statistics</a>
					</li>
				
			</ul>
		 
		</div> 
		<div id="doit_side"><h2>Do it now</h2><ul><li><a href="http://www.brighton-hove.gov.uk/index.cfm?request=b1160114">Register to vote</a></li><li><a href="http://www.brighton-hove.gov.uk/index.cfm?request=b1160704">Pay your council tax</a></li><li><a href="https://brighton-hoveclaims.teamnetsol.com/">Calculate and claim your housing &amp; council tax benefit on-line</a></li><li><a href="http://www.brighton-hove.gov.uk/index.cfm?request=c1206056#new1">Tell the council tax team that you are moving house</a></li><li><a href="http://www.brighton-hove.gov.uk/index.cfm?request=c1253134">Apply for student reductions to council tax</a></li></ul></div>

	</div>
	<div id="rightColumn">
		<div class="rightColumnContainer">
			
		<ul class="menu">
			
				<li class="menuItem"
	              >
				  <a href="http://www.brighton-hove.gov.uk/index.cfm?request=b1160744">Council data</a></li>
		</ul>
			
  <div id="searchBox">
    <div id="searchField">
      <label for="criteria" class="rightmenuLabel">Search</label>
	   <div id="cse-search-form" style="width: 100%;">Loading</div>
    </div>
  </div>


<script src="http://www.google.com/jsapi" type="text/javascript"></script>
<script type="text/javascript"> 
  google.load('search', '1', {language : 'en'});
  google.setOnLoadCallback(function() {
    var customSearchOptions = {};  var customSearchControl = new google.search.CustomSearchControl(
      '017933615273667314681:1lvph3nty90', customSearchOptions);
    customSearchControl.setResultSetSize(google.search.Search.FILTERED_CSE_RESULTSET);
    var options = new google.search.DrawOptions();
    options.enableSearchboxOnly("http://www.brighton-hove.gov.uk", "search", false); 
    customSearchControl.draw('cse-search-form', options);
    $('input.gsc-search-button').replaceWith("<input type='image' src='http://www.brighton-hove.gov.uk/web/sites/bhcc/images/search-btn.gif' alt='Search' class='goImage'>"); 
  }, true);
</script>

<link rel="stylesheet" href="http://www.brighton-hove.gov.uk/web/sites/bhcc/css/search.css" type="text/css">



<div id="azNav">
	<div id="azLegend"><a href="http://www.brighton-hove.gov.uk/index.cfm?request=a8" accesskey="3">A-Z of services</a></div>
	<div id="azLetters">
		<ul class="atozlist">
			<li><a href="http://www.brighton-hove.gov.uk/index.cfm?request=b1104347">A</a></li>
			<li><a href="http://www.brighton-hove.gov.uk/index.cfm?request=b1148624">B</a></li>
			<li><a href="http://www.brighton-hove.gov.uk/index.cfm?request=b1148625">C</a></li>
			<li><a href="http://www.brighton-hove.gov.uk/index.cfm?request=b1104348">D</a></li>
			<li><a href="http://www.brighton-hove.gov.uk/index.cfm?request=b1148627">E</a></li>
			<li><a href="http://www.brighton-hove.gov.uk/index.cfm?request=b1148628">F</a></li>
			<li><a href="http://www.brighton-hove.gov.uk/index.cfm?request=b1104349">G</a></li>
			<li><a href="http://www.brighton-hove.gov.uk/index.cfm?request=b1148629">H</a></li>
			<li><a href="http://www.brighton-hove.gov.uk/index.cfm?request=b1148630">I</a></li>
			<li class="azbreak"><a href="http://www.brighton-hove.gov.uk/index.cfm?request=b1104353">J</a></li>
			<li><a href="http://www.brighton-hove.gov.uk/index.cfm?request=b1148631">K</a></li>
			<li><a href="http://www.brighton-hove.gov.uk/index.cfm?request=b1148632">L</a></li>
			<li><a href="http://www.brighton-hove.gov.uk/index.cfm?request=b1104355">M</a></li>
			<li><a href="http://www.brighton-hove.gov.uk/index.cfm?request=b1148633">N</a></li>
			<li><a href="http://www.brighton-hove.gov.uk/index.cfm?request=b1148634">O</a></li>
			<li><a href="http://www.brighton-hove.gov.uk/index.cfm?request=b1148635">P</a></li>
			<li><a href="http://www.brighton-hove.gov.uk/index.cfm?request=b1104359">Q</a></li>
			<li><a href="http://www.brighton-hove.gov.uk/index.cfm?request=b1148636">R</a></li>
			<li class="azbreak"><a href="http://www.brighton-hove.gov.uk/index.cfm?request=b1148644">S</a></li>
			<li><a href="http://www.brighton-hove.gov.uk/index.cfm?request=b1105266">T</a></li>
			<li><a href="http://www.brighton-hove.gov.uk/index.cfm?request=b1148645">U</a></li>
			<li><a href="http://www.brighton-hove.gov.uk/index.cfm?request=b1148646">V</a></li>
			<li><a href="http://www.brighton-hove.gov.uk/index.cfm?request=b1105267">W</a></li>
			<li><a href="http://www.brighton-hove.gov.uk/index.cfm?request=b1148647">X</a></li>
			<li><a href="http://www.brighton-hove.gov.uk/index.cfm?request=b1148648">Y</a></li>
			<li><a href="http://www.brighton-hove.gov.uk/index.cfm?request=b1148649">Z</a></li>
		</ul>
	</div>
</div>


		</div>
       	<div class="rightColumnContainer">
		        
<h3 class="menuHeader">
	Related links
</h3>
             
		<ul class="menu">
			
				<li class="menuItemLast"
	              >
				  <a href="http://www.brighton-hove.gov.uk/index.cfm?request=c1193034">Data matching</a></li>
			
		</ul>

<h3 style="display: none">tools</h3>
<div class="menuTool">
	<a href="http://www.brighton-hove.gov.uk/index.cfm?request=c1168617"><img class="emailIcon" src="http://www.brighton-hove.gov.uk/web/sites/bhcc/images/downloadHelp.gif" width="20" height="18" alt="help with downloads"></a>&nbsp;<a href="http://www.brighton-hove.gov.uk/index.cfm?request=c1168617">Help with downloads</a>
</div>
		
			<div class="emailContact">
					<a href="http://www.brighton-hove.gov.uk/index.cfm?request=b1000072&amp;recipient=anti-fraud@brighton-hove.gov.uk&amp;reference=174129"><img class="emailIcon" src="http://www.brighton-hove.gov.uk/web/sites/bhcc/images/bwenvelo.gif" width="20" height="18" alt="send an email"></a>&nbsp;<a href="http://www.brighton-hove.gov.uk/index.cfm?request=b1000072&amp;recipient=anti-fraud@brighton-hove.gov.uk&amp;reference=174129">Send an email</a>
			</div>		
		
	<p><a href="http://www.brighton-hove.gov.uk/index.cfm?request=b1148192&amp;showTranslator=true">Translate this website</a></p>
	 
		</div>
	</div>
	
	<div id="centreColumn">
		<div class="contentRow">
			
			<h2 class="breadcrumb"><span>You are here: </span><a href="index.cfm">Home</a><span> | </span><a href="http://www.brighton-hove.gov.uk/index.cfm?request=a2">Your council</a> <span> | </span> Anti-fraud</h2>
			<a name="pageContent"></a>
			
				<a name="title1"></a>
			
	<h2 class="title">Freedom of Information</h2>
		<%= yield %>
		</div>
	</div> 	
	<div style="clear:both"></div>	
		<br>		


<div class="socialBkMarks white">
	<p style="margin:0 0 10px 0"><strong>Bookmark this page using:</strong></p>
<ul id="bookmark">
  <li class="delicious"><a id="delicious" title="Post this page to Delicious" href="http://del.icio.us/post?url=http://foi.brighton-hove.gov.uk/&amp;title=Brighton+%26+Hove+City+Council+Freedom+of+Information">Delicious</a> 
  </li>
  <li class="digg"><a id="digg" title="Post this page to Digg" href="http://digg.com/submit?url=http://foi.brighton-hove.gov.uk/&amp;title=Brighton+%26+Hove+City+Council+Freedom+of+Information">Digg</a> 
  </li>
  <li class="reddit"><a id="reddit" title="Post this page to reddit" href="http://reddit.com/submit?url=http://foi.brighton-hove.gov.uk/&amp;title=Brighton+%26+Hove+City+Council+Freedom+of+Information">reddit</a> 
  </li>
  <li class="facebook"><a id="facebook" title="Post this page to Facebook" href="http://www.facebook.com/sharer.php?u=http://foi.brighton-hove.gov.uk/&amp;title=Brighton+%26+Hove+City+Council+Freedom+of+Information">Facebook</a> 
  </li>
  <li class="stumbleupon"><a id="stumbleupon" title="Post this page to StumbleUpon" href="http://www.stumbleupon.com/submit?url=http://foi.brighton-hove.gov.uk/&amp;title=Brighton+%26+Hove+City+Council+Freedom+of+Information">StumbleUpon</a> 
  </li>
  <li class="twitter"><a id="twitter" title="Post this page to Twitter" href="http://twitter.com/home?status=Brighton+%26+Hove+City+Council+Freedom+of+Information+http://foi.brighton-hove.gov.uk/">Twitter</a>
  </li>
</ul>
<div id="switch_menu" style="margin:5px 0 0 0">Find out more about social bookmarking <span onclick="location.href='#'" class="toggleLink"></span></div>
<div class="toggle">
		<p>These sites allow you to store, tag and share links across the internet. You can share these links both with friends and people with similar interests. You can also access your links from any computer you happen to be using.</p>
		<p>If you come across a page on our site that you find interesting and want to save for future reference or share it with other people, simply click on one of these links to add to your list.</p>
		<p>All of these sites are free to use but do require you to register. Once you have registered you can begin bookmarking.</p>
	</div>
</div>


<div id="footerContainer">
    <div id="footerLinks"> <a href="http://www.brighton-hove.gov.uk/index.cfm?request=b1000213">privacy statement</a> | <a href="http://www.brighton-hove.gov.uk/index.cfm?request=b1000212">statements of ownership and liability</a> | <a href="http://www.brighton-hove.gov.uk/index.cfm?request=c1001649">freedom of information</a> | <a href="http://www.brighton-hove.gov.uk/index.cfm?request=b1119322">external links disclaimer</a> | <a href="?request=c1168621">website statistics</a></div>
<div id="footerAddress"><strong>Brighton &amp; Hove City Council</strong> | Kings House | Grand Avenue | Hove | BN3 2LS | <strong>Tel: (01273) 290000</strong> | Mail: <a href="http://www.brighton-hove.gov.uk/index.cfm?request=b1000072&amp;recipient=info@brighton-hove.gov.uk" >info@brighton-hove.gov.uk</a> | <a href="http://www.brighton-hove.gov.uk/index.cfm?request=c1191435">how to find us</a> | <a href="http://www.brighton-hove.gov.uk/index.cfm?request=b1000086" accesskey="7">comments &amp; complaints</a></div>

</div>

	  </div> <!-- main content -->
       <script src="http://www.brighton-hove.gov.uk/web/sites/bhcc/jscript/gatag.js" type="text/javascript"></script>
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
var pageTracker = _gat._getTracker("UA-3524246-1");
pageTracker._trackPageview();
pageTracker._setVar("ExternalVisitor");
</script>

	</body>
	</html>
